*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* General */

html{
    scroll-behavior:smooth;
}

body{
    height: 100vh;
    background-image: radial-gradient(white,rgb(173, 128, 215));
}

.college{
    width: 100%;
    font-size: 50px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
    background-color: rgb(140, 83, 193);
    color: white;
}

.container{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;  
    flex-wrap: wrap;  
}



/* BIT */

.navs{
    display: none;;
}

.bit{
    width: 350px;
    height: 370px;
    border: 5px double black;
    background-color:rgb(140, 83, 193) ;
}

.bitimage, .kprimage, .ssnimage{
    width: 70%;
    height: 35%;
    margin-top: 8%;
    margin-left: 14%;
    border: 5px double black;
    background-repeat: no-repeat;
    background-size:cover;
}

.bitimage{
    background-image:url(BIT.jpg);
}

.kprimage{
    background-image:url(KPR.webp);
}

.ssnimage{
    background-image:url(ssn.jpg);
}

.bitname{
    text-align: center;
    padding-top: 2%;
}

.bitname a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.bitname a:hover{
    color: goldenrod;
}

.bitaddress{
    margin-top: 8%;
    text-align: center;
}

.bitaddress a{
    font-size: 20px; 
    color: white;
    text-decoration: none;
}

.bitaddress a:hover{
    color: goldenrod;
}


/* Tab, Small Laptop */

@media (max-width:1050px) {
    .bit{
        margin-top: 30px;
    }
}

/* Small Tab,Phone */

@media (max-width:699px){
    .navs{
        display:block;
        background-color:#ffff;
        width: 100%;
        height: 8%;
        display:flex;
        justify-content:space-around;
        align-items:center;
    }
    
    .navs a{
        text-decoration:none;
        font-size: 25px;
        width: 55px;
        height: 35px;
        text-align: center;
        padding-top:5px;
        border-radius:5px;
    }
    
    .navs a:hover{
        color: rgb(255, 255, 255);
        background-color:rgb(140, 83, 193) ;
    }
}
